<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Client Side</title>
  </head>
  <body data-ng-app="notesApp">
    
    <main data-ng-controller="notesController" data-ng-init="getAll()">
      <h1>Notes</h1>
      <aside data-ng-if="errors.length">
        <h2>Errors</h2>
        <ul data-ng-repeat="error in errors">
          <li>{{error.msg}}</li>
        </ul>
        <button data-ng-click="clearErrors()">Clear Errors</button>
      </aside>

      <form name="newNoteForm" data-ng-submit="createNewNote()">
        <input type="text" required data-ng-model="newNote.noteBody">
        <button type="submit" data-ng-disabled="newNoteForm.$invalid">Create New Note</button>
      </form> 

      <ul data-ng-repeat="note in notes">
        <li>{{note.noteBody}}
            <button data-ng-click="removeNote(note)">Delete</button>
            <button data-ng-if="!note.editing" data-ng-click="note.editing = true">Edit</button> 
            <form name="{{'editing' + note._id}}" data-ng-if="note.editing" data-ng-submit="saveNote(note)">
              <input type="text" data-ng-model="note.noteBody">
              <button type="submit">Save Changes</button>
              <button type="button" data-ng-click="editCancel(note)">Cancel</button> 
            </form> 
        </li>
      </ul>
    </main>

    <script src="bundle.js"></script>
  </body>
</html>